.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 50%;
}
.alert-dialog {
  position: fixed;
  left: 30vw;
  top: 25vh;
  background-color: #fff;
  width: 40vw;
  height: 30vh;
  z-index: 70%;
}
